[Desktop Entry]
Name=Backlight Switcher
GenericName=Switch virtual desktop backlight color
Exec=backlight-switch
Icon=user-desktop
Type=Application
Terminal=false
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
Categories=Qt;KDE;Utility;
